@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  background: #453e3a;

}

a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

h1, p {
 text-align: center;
 margin-top: 40px;
 color: white;
 padding: 10px;
 margin: 10px;
}

img {
 max-width: 100%;
 display: block;
}
.header {
  background: #453e3a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.menu {
  display: flex;
}

.menu li {
  margin-left: 20px;
  background: #8a1528;
  padding: 10px;
  
}

.menu li a {
 display: block;
 padding: 10px;
   
}

.flex {
    display: flex;
    flex-wrap: wrap;
    

}

.flex > div {
    flex: 1 1 200px;
}

#buttontag, #buttontag2, #buttontag1 {
    background: #8a1528
    
}

footer > div {
display: block;
margin-top: 5px;
background: #8a1528;
padding: 5px;
}


